@use "sass:map";
@use 'pixel-to-rem' as remUtils;

$main-grid-width:          #{remUtils.rem(1040px)};
$main-grid-nb-colonnes:    10; 
$main-grid-gap:            #{remUtils.rem(25px)};
$main-grid-col:            calc(($main-grid-width - (($main-grid-nb-colonnes - 1) * $main-grid-gap)) / $main-grid-nb-colonnes); 

:root {
    --main-grid-width: #{$main-grid-width};
    --main-grid-gap:   #{$main-grid-gap};
    --main-grid-col:   #{$main-grid-col}; 
}

@function track-width($nb-colonnes) {
    @return calc(($nb-colonnes * $main-grid-col) + (($nb-colonnes - 1) * $main-grid-gap));
}


