@mixin stabilo {
    position: relative; 
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        width: calc(100% + 4px);
        height: 28%;
        left: -2px;
        bottom: 0;
        z-index: -1;
        transform: rotate(-2deg);

        //background-color: var(--theme-bg);
        opacity: .4;
        //@supports (background-color: #{'hsl(from var(--theme-bg) h s l / 0.4)'}) {
            //background-color: #{'hsl(from var(--theme-bg) h s l / 0.4)'};
            opacity: 1;
        //}
    }
}


@mixin stabilo2 {
    display: inline-block;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        height: 40%;
        right: 4px;
        bottom: -6px;
        left: -2px;
        z-index: -1;
        //background-color: var(--theme-bg);
        transform: rotate(-2deg);
    }
}