{% if theme == 'parent' %}
    {% set cssTheme = " theme-parent" %}
{% elif theme == 'enfant' %}
    {% set cssTheme = " theme-enfant" %}
{% elif theme == 'pro' %}
    {% set cssTheme = " theme-pro" %}
{% else %}
    {% set cssTheme = " theme-neutre" %}
{% endif %}

<a 
    class="button-icon df ai-c jc-c{{cssTheme}}" 
    href="{{ href }}" 
    rel="external" 
    target="_blank" 
    title="{{ label | safe }} - Nouvel fenêtre" 
    aria-label="{{ label | safe }} - Nouvel fenêtre"
>
    <svg aria-hidden="true" focusable="false">
        <use xlink:href="#{{ icon }}"></use>
    </svg> 
</a>