{% macro button(href='', icon='', label='', theme='', external='', outline='', attributes='') %}

    {% if theme == 'parent' %}
        {% set variation = " theme-parent" %}
    {% elif theme == 'enfant' %}
        {% set variation = " theme-enfant" %}
    {% elif theme == 'pro' %}
        {% set variation = " theme-pro" %}
    {% elif theme == 'secondary' %}
        {% set variation = " v_secondary" %}
    {% else %}
        {% set variation = " theme-neutre" %}
    {% endif %}


    {% if external == 'true' %}
        {% set rel = 'rel="external"' %}
        {% set target = 'target="_blank"' %}
        {% set htmlTitle = 'title="'+ label | safe +' - Nouvel fenêtre"' %}
        {% set ariaLabel = 'aria-label="'+ label | safe +' - Nouvel fenêtre"' %}
        {% set attrs = ' ' + rel + ' ' + target + ' ' + htmlTitle + ' ' + ariaLabel %}
    {% endif %}


    {% if outline == 'true' %}
        {% set variationOutline = " v_outline" %}
    {% endif %}


    {% if icon %}
        {% set dispositionCSS = "d-if ai-c jc-c" %}
    {% else %}
        {% set dispositionCSS = "d-ib" %}
    {% endif %}

    {% if href  %}
        <a class="button{{variation}}{{variationOutline}} {{dispositionCSS}}" href="{{ href }}" {{ attrs | safe }}>
            {% if icon %}
                <svg aria-hidden="true" focusable="false">
                    <use xlink:href="#{{ icon }}"></use>
                </svg>
                <span>{{ label | safe }}</span>
            {% else %}
                {{ label | replace('@', '<span class="font-system">@</span>') | safe }}
            {% endif %}
        </a>
    {% else %}
        <button type="button" class="button{{variation}}{{variationOutline}} {{dispositionCSS}}"{{ attributes | safe }}>
            {{ label | safe }}
        </button>
    {% endif %}


{% endmacro %}