{% macro hero(titre='', sousTitre='', imageVertical='', imageHorizontal='') %}

    <div class="grid-hero">
        <div class="grid-hero__content as-c df fd-c gap-20">
            <h1>{{ titre }}</h1>
            <p class="text-20">{{ sousTitre | safe }}</p>
            <div class="mw-450">
                {{ caller() }}
            </div>
        </div>
        <div class="grid-hero__image">
            <img class="hide-for-large" src="{{ imageHorizontal }}" alt="">
            <img class="show-for-large" src="{{ imageVertical }}" alt="">
        </div>
    </div>

{% endmacro %}