{% macro hero(titre='', sousTitre='', imageVertical='', imageHorizontal='') %}

    <div class="grid-hero">
        <div class="grid-hero__content as-c df fd-c gap-20">
            <h1>{{ titre | safe }}</h1>
            <p class="text-20">{{ sousTitre | safe }}</p>
            <div class="mw-450">
                {{ caller() }}
            </div>
        </div>
        <div class="grid-hero__image">
            {% image "typeHero", imageHorizontal, "", "hide-for-large" %}
            {% image "typeHero", imageVertical, "", "show-for-large" %}
        </div>
    </div>

{% endmacro %}