{% macro intercalaire(theme='', titre='') %}

    {% if theme == 'parent' %}
        {% set cssTheme = " theme-parent" %}
    {% elif theme == 'enfant' %}
        {% set cssTheme = " theme-enfant" %}
    {% elif theme == 'pro' %}
        {% set cssTheme = " theme-pro" %}
    {% else %}
        {% set cssTheme = " theme-neutre" %}
    {% endif %}

    <div class="grid-main__item-full vague v_haut bg-theme{{cssTheme}}"></div>
    <div class="grid-main__item-full grid-main bg-theme pblock-section fg-theme{{cssTheme}}">
        {% if titre %}
            <p class="font-hero text-20 text-center--medium mb">{{ titre }}</p>
        {% endif %}
        <div class="font-dancing text-38">
            {{ caller() }}
        </div>
    </div>
    <div class="grid-main__item-full vague v_bas bg-theme{{cssTheme}}"></div>

{% endmacro %}