{% macro matrix(datas, nbCol='', growCol='') %}

    {% if nbCol == '2' %}
        {% set col = ' v_2col' %}
    {% elif nbCol == '3' %}
        {% set col = ' v_3col' %}
    {% endif %}


    {% if growCol == '1' %}
        {% set grow = ' v_grow1' %}
    {% elif growCol == '2' %}
        {% set grow = ' v_grow2' %}
    {% elif growCol == '3' %}
        {% set grow = ' v_grow3' %}
    {% endif %}

    <ul class="reset matrix{{ col }}{{ grow }}">
        {% for item in datas %}
            <li class="matrix__subgrid">
                <strong>{{ item.col1 }}</strong>
                <p>{{ item.col2 | safe }}</p>
                {% if item.col3 %}
                    <p>
                        <a href="tel:{{ item.col3 | replace(' ','') }}">{{ item.col3 }}</a>
                    </p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endmacro %}