{% macro permanence_frame(ville="", quand="", ou="", adresse="", tel="") %}

    <div class="cadre df fd-c gap permanence" id="{{ ville | slugify }}">

        <h3>{{ ville }}</h3>

        {% if quand is string %}
            <p>{{ quand }}</p>
        {% else %}
            <ul class="reset matrix v_2col v_grow1">
                {% for item in quand %}
                    <li class="matrix__subgrid">
                        <p>
                            <strong>{{ item.jour }}</strong>
                            {{ item.info }}
                        </p>
                        <p>{{ item.heure }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if ou and adresse %}
            <p><span class="text-20">{{ ou }}</span>&nbsp;<br>{{ adresse }}</p>
        {% endif %}

        {% if tel is string %}
            <p><a href="tel:{{ tel | lower | replace(" ", "") }}">{{ tel }}</a></p>
        {% else %}
            <div>
                {% for item in tel %}
                    <p><a href="tel:{{ item | lower | replace(" ", "") }}">{{ item }}</a></p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endmacro %}