{% set navPages = collections.all | eleventyNavigation %}


{% if accueil %}
    <img src="/media/image/AIPE-logo-fond-fff6e9.jpg" alt="{{ metadata.title }}" width="150">
{% else %}
    <a href="/">
        <img src="/media/image/AIPE-logo-fond-fff6e9.jpg" alt="{{ metadata.title }}" width="150">
    </a>
{% endif %}

<nav class="menu" role="navigation" aria-label="Menu principal">
    <ul class="reset df fw-w gap">
        {%- for entry in navPages %}
            <li>
                {% if entry.url == page.url %}
                    <a class="" href="{{ entry.url | url }}" aria-current="page">
                        {{ entry.title }}
                    </a>
                {% else %}
                    <a class="" href="{{ entry.url | url }}">
                        {{ entry.title }}
                    </a>
                {% endif %}
                
            </li>
        {%- endfor %}
    </ul>
</nav>

<ul class="reset df fw-w gap">
    <li>
        <a href="https://www.facebook.com/aiperam" rel="external" target="_blank">Facebook</a>
    </li>
    <li>
        <a href="https://www.instagram.com/aipe.38" rel="external" target="_blank">Instagram</a>
    </li>
</ul>