{# commun dans chaque page #}
<script src="/js/button-burger.js" defer></script>

{# spécifique à une page #}
{% for item in scriptsJs %}

	{% if item == 'filtrePartenaire' %}
		<script src="/js/filtre-partenaire.js" defer></script>
	{% endif %}

	{% if item == 'leaflet' %}
		<script src="/js/leaflet.js"></script>
	{% endif %}

	{% if item == 'map' %}
		<script src="/js/map.js"></script>
	{% endif %}

	{% if item == 'accordion' %}
		<script src="/js/accordion.js"></script>
	{% endif %}
	
{% endfor %}