<!-- capture the JS content as a Nunjucks variable -->
{% set js %}
	{% include "js/button-burger.js" %}
{% endset %}

<!-- feed it through our jsmin filter to minify -->
<script>
	{# commun dans chaque page #}
	{{ js | safe }}

	{# spécifique à un composant #}
	{% for item in scriptsJs %}

		{% if item == 'filtrePartenaire' %}

				{% set filtrePartenaire %}
					{% include "js/filtre-partenaire.js" %}
				{% endset %}
				{{ filtrePartenaire | safe }}

		{% endif %}

	{% endfor %}
</script>