---
layout: layouts/page.njk
title: Page non trouvée
permalink: 404.html
---

{% from "macros/button.njk" import button as button %}


<div class="pblock-section" id="benevoles">
    <div class="df fd-c gap-20">
        <h1>Page introuvable</h1>
        <p>
            <strong>Oups, cette page n'existe pas</strong><br>
            La page que vous recherchez semble avoir disparu ou l'adresse saisie est incorrecte.
        </p>
        <p>Retrouvez toutes les informations de l'AIPE depuis notre <a href="/">page d'accueil</a></p>
    </div>
</div>