---
layout: layouts/maintenance.njk
title: AIPE | Association Intercommunale Petite Enfance de Moirans
metaDescription: Une association pour les enfants, les parents et les professionnels.
permalink: /accueil/index.html
eleventyNavigation:
    key: Accueil
    order: 1
accueil: "true"
---

<h1>Des activités pour les enfants.<br>
Un accompagnement pour les parents et les professionnels</h1>

<h2>Actualité</h2>
<p>Suivez toutes nos actualités autour des activités dédiées à la petite enfance ! Retrouvez-nous sur [X] et [Y] pour découvrir nos ateliers ludiques, événements, conseils éducatifs et bien plus encore.<br>Ne ratez rien, rejoignez notre communauté engagée dès aujourd’hui !</p>

<h2>Qui sommes nous ?</h2>
<p>L’AIPE, est une association intercommunale, gérée par des parents bénévoles qui développe des activités autour de la petite enfance à travers le <a href="/rpe">RPE</a> et l'<a href="/acti-bebe">Acti'Bébé</a></p>

<h3>Nos objectifs</h3>
<ul>
    <li>Favoriser l’éveil des tout-petits</li>
    <li>Encourager la formation des parents et des professionnels</li>
    <li>Développer les différents modes de gardes d’enfants</li>
    <li>Accompagner la fonction parentale</li>
</ul>

<h3>Relais Petite Enfance | RPE</h3>
<h4>Auprès des parents</h4>
<p>Une <strong>permanence administrative</strong> pour </p>
<ul>
    <li>la recherche d’un mode de garde</li>
    <li>un soutien pour l’élaboration d’un contrat de travail</li>
</ul>
<p>Un professionnel vous reçoit sur les communes :</p>
<p>
    <a href="tel:0749836207">07 49 83 62 07</a>
    <br>
    <a href="mailto:aipe.petite.enfance@gmail.com">aipe.petite.enfance@gmail.com</a>
</p>

<h4>Auprès des assistantes maternelles et des enfants</h4>
<p>Accueil de l’enfant dans l’apprentissage de la socialisation avec son assistante maternelle.</p>

<h4>Le RPE, c’est aussi</h4>
<p>Des sorties, découvertes, spectacles, tout au long de l’année (Fête de Noël, carnaval, sortie de fin d’année).</p>
<p>Des soirées débat destinées aux parents et assistantes maternelles sur les thèmes de la petite enfance.</p>

<h3>L’Acti'Bébé</h3>
<h4>Commission, Animation et Formation</h4>
<p>Des parents bénévoles et des professionnels de la petite enfance se réunissent toutes les 6 semaines pour réfléchir sur des projets autour de la petite enfance</p>

<h4>Des ateliers pour les touts petits et leurs parents</h4>
<ul>
    <li><strong>Massage bébé</strong>&nbsp;: découverte du massage guidée par des professionnels de la petite enfance</li>
    <li><strong>Psychomotricité</strong>&nbsp;: de 1 à 2 ans, découverte sensorielle dans un espace aménagé</li>
    <li><strong>Éveil au cirque</strong>&nbsp;: de 2 à 3 ans, découverte de son corps grâce aux jeux de cirque</li>
    <li><strong>Spectacles</strong> à destination du très jeune public</li>
</ul>

<h4>Des soirées à thèmes</h4>
<ul>
    <li><strong>Initiation au maquillage de fête</strong>&nbsp;: des stages sont proposés aux parents et professionnels</li>
    <li><strong>Soirées d’information et de débats</strong> autour de la parentalité</li>
</ul>

<h2>Nos partenaires</h2>
<p>intro a faire</p>

<h3>Communes</h3>
<ul>
    <li>liste de logo</li>
    <li>a faire</li>
</ul>

<h3>Crèches</h3>
<ul>
    <li>liste de logo</li>
    <li>a faire</li>
</ul>

<h3>Associations</h3>
<ul>
    <li>liste de logo</li>
    <li>a faire</li>
</ul>

<h2>Nos membres</h2>
<p>intro avec la différence entre les pro et bénévol</p>

<h3>Pro</h3>
<p>intro role</p>
<ul>
    <li>nom, prenom, fonction, tel</li>
    <li>nom, prenom, fonction, tel</li>
    <li>nom, prenom, fonction, tel</li>
</ul>
<p>Une question, un besoin ou une envie de collaborer ?
    <br>
    Contactez notre équipe par mail à l’adresse [X], nous serons ravis d’échanger avec vous !</p>

<h3>Bénévol</h3>
<p>intro + renouvellement/duré</p>
<p><a href="/nous-rejoindre">En savoir plus sur le bénévolat à l’AIPE</a></p>
<ul>
    <li>nom, prenom, fonction</li>
    <li>nom, prenom, fonction</li>
    <li>nom, prenom, fonction</li>
</ul>

<p>Contactez le bureau des bénévoles par mail à cette adresse : [X]</p>

<h4>Envie de donner un coup de main ?</h4>
<ul>
    <li>fonctions non occupées : mini présentation</li>
    <li>fonctions non occupées : mini présentation</li>
    <li>fonctions non occupées : mini présentation</li>
</ul>
<p>Si vous êtes intéressé·e, n’hésitez pas à nous le faire savoir par mail à l’adresse [X] pour <a href="/nous-rejoindre">en savoir plus</a>.</p>
