---
layout: layouts/page.njk
title: AIPE | Association Intercommunale Petite Enfance de Moirans
metaDescription: "Découvrez notre association dédiée à la petite enfance en Isère : accompagnement des familles, relais petite enfance et ressources pour les tout-petits"
permalink: /accueil/index.html
eleventyNavigation:
    key: Accueil
    order: 1
accueil: "true"
scriptsJs: 
    - filtrePartenaire
---
{% from "macros/hero.njk" import hero as hero %}
{% from "macros/button.njk" import button as button %}
{% from "macros/ping_pong.njk" import ping_pong as ping_pong %}
{% from "macros/intercalaire.njk" import intercalaire as intercalaire %}
{% from "macros/logo_partenaire.njk" import logo_partenaire as logo_partenaire %}
{% from "macros/matrix.njk" import matrix as matrix %}
{% from "macros/stylizeAt.njk" import stylizeAt as stylizeAt %}



{% call hero(
    titre="Grandir ensemble : enfants, parents et pros accompagnés", 
    sousTitre="Retrouvez-nous sur les réseaux pour ne rien&nbsp;<br class='show-for-large'>manquer de nos ateliers et animations.", 
    imageVertical="/media/image/accueil/hero-vertical.png",
    imageHorizontal="/media/image/accueil/hero-horizontal.png"
) %}
    <div class="df fw-w gap">
        {{ button(
            theme="pro",
            href="https://www.facebook.com/aiperam",
            icon="facebook",
            label="Facebook",
            external="true"
        ) }}
        {{ button(
            theme="pro",
            href="https://www.instagram.com/aipe.38",
            icon="instagram-line",
            label="Instagram",
            external="true"
        ) }}
    </div>
{% endcall %}



<div class="grid-main__item-full vague v_haut bg-primary"></div>
<div class="grid-main__item-full grid-main bg-primary pblock-section">
    <div class="df fd-c gap-20">
        <h2>Qui sommes nous&nbsp;?</h2>
        <p class="text-20">
            L’AIPE, Association Intercommunale pour la petite enfance est gérée par des parents&nbsp;<br class="show-for-large">bénévoles qui développe des activités autour de la petite enfance à travers le RPE et la commission Acti’Bébé. 
        </p>
        <h3 class="show-for-sr">Nos objectifs</h3>
        <div class="ct-inline">
            <ul class="reset grid-objectif has-dancing">
                <li class="text-20 grid-objectif__eveil theme-enfant">
                    <p>Favoriser <strong class="surligne">l’éveil</strong>&nbsp;<br>des <strong class="surligne">tout&nbsp;petits</strong></p>
                </li>
                <li class="text-20 grid-objectif__formation theme-pro">
                    <p>Encourager la&nbsp;<br><strong class="surligne">formation</strong> des&nbsp;<br>parents et des professionnels</p>
                </li>
                <li class="text-20 grid-objectif__garde theme-neutre">
                    <p>Informer sur les&nbsp;<br><strong class="surligne">différents</strong> modes&nbsp;<br class="persite"> d' <strong class="surligne">accueil</strong> du&nbsp;<br>jeune enfants</p>
                </li>
                <li class="text-20 grid-objectif__accompagner theme-parent">
                <p><strong class="surligne">Accompagner</strong>&nbsp;<br>le rôle&nbsp;<br><strong class="surligne">de parent</strong></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="grid-main__item-full vague v_bas bg-primary"></div>



 <div class="pblock-section"></div>   
    <h3><span class="font-hero">Le <abbr>RPE</abbr></span> Relais Petite Enfance</h3>
    <p>C’est un lieu d'information, d'accompagnement et d'échange pour les parents et les assistantes maternelles. Ce service gratuit est soutenu par la CAF pour faciliter l’accès à un mode d’accueil de qualité.</p>

    {% call ping_pong(
        theme="parent",
        titre="Auprès des parents",  
        imageVertical="/media/image/accueil/rpe-parent-vertical.png",
        imageHorizontal="/media/image/accueil/rpe-parent-horizontal.png"
    ) %}
        <div class="cadre df fd-c gap">
            <p>Nous vous recevons sur chaque commune lors de <strong>permanence administrative</strong></p>
            <ul class="reset df fw-w gap-8">
                <li>
                    {{ button(
                        theme="parent",
                        href="tel:0749836207",
                        label="07 49 83 62 07"
                    ) }}
                </li>
                <li>
                    {{ button(
                        theme="parent",
                        href="mailto:aipe.petite.enfance@gmail.com",
                        label="aipe.petite.enfance@gmail.com"
                    ) }}
                </li>
            </ul>
            <p><a href="/rpe/">Consulter les horaires des permanences</a></p>
        </div>
    {% endcall  %}


    {% call ping_pong(
        type="pong",
        theme="enfant",
        titre="Auprès des assistantes maternelles et des enfants",  
        imageVertical="/media/image/accueil/rpe-enfant-vertical.png",
        imageHorizontal="/media/image/accueil/rpe-enfant-horizontal.png"
    ) %}
        <p>
            Pour les assistantes maternelles et les enfants, nous vous proposons des espaces de jeux et de rencontre réguliers
        </p>
    {% endcall  %}

    {% call ping_pong(
        theme="pro",
        titre="Le <abrr>RPE</abrr>, c’est aussi",
        imageVertical="/media/image/accueil/rpe-pro-vertical.png",
        imageHorizontal="/media/image/accueil/rpe-pro-horizontal.png"
    ) %}
        <ul class="df fd-c gap">
            <li>Un soutien et un accompagnement des assistantes maternelles tout au long de leur carrière</li>
            <li>Des sorties, découvertes, spectacles, tout au long de l’année (Fête de Noël, carnaval, sortie de fin d’année).</li>
            <li>Des conférences-débats destinées aux parents et assistantes maternelles sur les thèmes de la petite enfance.</li>
        </ul>
    {% endcall  %}

</div>



{% call intercalaire(theme="parent", titre="Nous intervenons dans les communes de") %}
    <ul class="reset df fw-w jc-c--medium gap-8 col-gap-60--medium">
        <li>Moirans,</li>
        <li>Réaumont,</li>
        <li>Charnècles,</li>
        <li>Rives,</li>
        <li>St Jean de Moirans,</li>
        <li>St Blaise du Buis,</li>
        <li>La Murette</li>
        <li>Charnècles</li>
    </ul>
{% endcall  %}
  


 <div class="pblock-section">   
    <h3><span class="font-hero">L’Acti'Bébé</span> Commission Animation Formation</h3>
    <p>Afin de proposer des ateliers aux enfants et aux familles, des parents bénévoles et des professionnelles se réunissent régulièrement pour réfléchir sur des projets autour de la petite enfance.</p>

    {% call ping_pong(
        type="pong",
        theme="pro",
        titre="Des ateliers pour les touts petits et leurs parents",
        imageVertical="/media/image/accueil/actibebe-parent-vertical.png",
        imageHorizontal="/media/image/accueil/actibebe-parent-horizontal.png"
    ) %}
        <ul class="df fd-c gap">
            <li><strong>Massage bébé</strong> : découverte du massage guidée par une professionnelle de la petite enfance</li>
            <li><strong>Motricité</strong> : découverte de son corps dans un espace aménagé</li>
            <li><strong>Communication gestuelle</strong> : initiation à la langue des signes bébé pour mieux comprendre ses besoins avant les premiers mots</li>
            <li><strong>Secourisme parent-enfant</strong> gestes de premiers secours adaptés aux tout-petits</li>
            <li><strong>Spectacles</strong> à destination du très jeune public</li>
        </ul>
    {% endcall  %}

    {% call ping_pong(
        theme="parent",
        titre="Des soirées à thèmes et de la location",
        imageVertical="/media/image/accueil/actibebe-enfant-vertical.png",
        imageHorizontal="/media/image/accueil/actibebe-enfant-horizontal.png"
    ) %}
        <ul class="df fd-c gap">
            <li><strong>Initiation au maquillage de fête</strong> : des stages sont proposés aux parents et professionnelles</li>
            <li><strong>Soirées d’information et de débats</strong> autour de la parentalité</li>
            <li><strong>Matinées jeux</strong> pour enfants et échanges sur la parentalité</li>
            <li><strong>Location de mallettes de maquillage</strong> que vous soyez une association, un particulier ou un professionnel</li>
        </ul>
    {% endcall  %}
</div>



{% call intercalaire(theme="pro") %}
    <div class="df jc-c">
        <p>Une association pour les enfants, les parents et les professionnels</p>
    </div>
{% endcall  %}



<div class="pblock-section">
    <h2 id="partenaire-titre">Nos partenaires</h2>
    <p class="mb">Notre association intervient sur 8 communes, elle est en relation avec les diverses structures associatives de cette intercommunalité.</p>
    <div class="mb">
        <ul class="reset df fw-w gap-8 js--filtre-buttons" data-filtre-class-inactif="v_secondary" data-filtre-class-actif="theme-neutre">
            <li>
                {{ button(
                    label="Tous",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-tous'"
                ) }}
            </li>
            <li>
                {{ button(
                    theme="secondary",
                    label="Communes",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-communes'"
                ) }}
            </li>
            <li>
                {{ button(
                    theme="secondary",
                    label="Crèches",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-creches'"
                ) }}
            </li>
            <li>
                {{ button(
                    theme="secondary",
                    label="Autres",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-autres'"
                ) }}
            </li>
        </ul>
        <div class="show-for-sr js--filtre-annonce" aria-live="polite" role="status"></div>
    </div>
    <ul class="reset grid-partenaire gap-20 js--filtre-partenaire" aria-labelledby="partenaire-titre">
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/moirans.png",
                alt="Moirans (lieu de notre siège social)",
                url="https://www.ville-moirans.fr/"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/st-jean-de-moirans.png",
                alt="Saint Jean de Moirans",
                url="https://www.st-jean-de-moirans.fr/"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/rives.jpg",
                alt="Rives",
                url="http://www.mairie-rives.fr/"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/la-murette.png",
                alt="La Murette",
                url="http://www.mairie-lamurette.fr/"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/saint-cassien.png",
                alt="Saint Cassien",
                url="http://www.saint-cassien.fr/"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/reaumont.jpg",
                alt="Réaumont",
                url="https://mairie-reaumont.fr/"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/saint-blaise-du-buis.jpg",
                alt="Saint Blaise du Buis",
                url="https://saintblaisedubuis.fr/"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                img="/media/image/partenaire/charnecle.jpg",
                alt="Charnècles",
                url="http://www.charnecles.fr/"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                img="/media/image/partenaire/les-ptits-loups.jpg",
                alt="Les p’tits Loups, Saint Jean de Moirans",
                url="https://www.st-jean-de-moirans.fr/2388-petite-enfance.htm"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                img="/media/image/partenaire/balancelle.jpg",
                alt="La Ruche (anciennement la Balancelle), Moirans",
                url="https://labalancelle.yo.fr/vitrine/"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                img="/media/image/partenaire/envol.png",
                alt="Halte Garderie L’envol, Coublevie",
                url="https://www.crechelenvol.org/"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                img="/media/image/partenaire/ribambelle.png",
                alt="Crèche La Ribambelle, Rives",
                url="https://www.mairie-rives.fr/petite-enfance"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                img="/media/image/partenaire/jumeaux-et-plus.jpg",
                alt="Association Jumeau et plus",
                url="https://www.jumeaux-et-plus.fr/"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                img="/media/image/partenaire/acepp38.svg",
                alt="ACEPP38",
                url="https://acepp38.fr/"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                img="/media/image/partenaire/caf-isere.webp",
                alt="CAF Isère",
                url="https://www.caf.fr/allocataires/caf-de-l-isere/nous-contacter/points-d-accueil-de-votre-caf"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                img="/media/image/partenaire/isere.svg",
                alt="Conseil Départemental de l’Isère",
                url="https://www.isere.fr/"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                img="/media/image/partenaire/petit-pre.jpg",
                alt="Petit Pré",
                url="https://www.lepetitpre38.fr/"
            ) }}
        </li>
    </ul>
</div>



{% call intercalaire(theme="enfant", titre="Nos valeurs") %}
    <ul class="reset df fw-w jc-c--medium gap-8 col-gap-60--medium">
        <li>Partage,</li>
        <li>Écoute,</li>
        <li>Convivialité</li>
    </ul>
{% endcall  %}



<div class="pblock-section">
    <h2 id="partenaire-titre">Nos membres</h2>
    <p class="mb">Qu’ils soient professionnels de la petite enfance ou parents bénévoles, les membres actifs de l’association s’engagent pleinement pour faire vivre le projet associatif.</p>

    <div class="grid-ping ai-c pblock-section theme-pro">
        <h3 class="h3 grid-ping-pong__titre">Professionnels</h3>
        <div class="grid-ping-pong__visuel">
            <div class="cadre df fd-c gap-8">
                <div class="df jc-c">
                    <img src="/media/image/accueil/membre-pro-contact.png" alt="" width="205">
                </div>
                <p class="text-20">Une question, un besoin ou une envie de collaborer&nbsp;? </p>
                <p class="mb">
                    {{ button(
                        theme="pro",
                        href="tel:0749836207",
                        label="07 49 83 62 07",
                        outline="true"
                    ) }}
                </p>
                <p class="text-20">Contactez notre équipe par mail à l’adresse</p>
                <p>
                    {{ button(
                        theme="pro",
                        href="mailto:aipe.petite.enfance@gmail.com",
                        label="aipe.petite.enfance@gmail.com"
                    ) }}
                </p>
            </div>
        </div>
        <div class="grid-ping-pong__contenu df fd-c gap-20">
            <p>Elles sont cinq salariées, à temps partiel, à faire tourner l’association au quotidien</p>
            {% image "typePongPing", "/media/image/accueil/membre-pro-horizontal.png" %}
            {% set listeSalaries = [
                { col1: "Coordinatrice", col2: "Nathalie Deroo", col3: "07 49 83 62 07" },
                { col1: "Animatrice", col2: "Aude Foucault", col3: "06 49 75 45 33" },
                { col1: "Animatrice", col2: "Marie Laisne", col3: "06 50 89 74 70" },
                { col1: "Animatrice", col2: "Sabine Ponti", col3: "06 58 27 62 36" },
                { col1: "Comptable", col2: "Cécile Susptitz", col3: "07 49 83 62 07" }
            ] %}
            {{ matrix(datas=listeSalaries) }}
            <p>Nous serons ravis d’échanger avec vous&nbsp;!</p>
        </div>
    </div>



    <div class="pblock-section">
        <h3>Bénévoles</h3>
        <p>Une association ne peut fonctionner <strong>sans l’engagement de ses bénévoles</strong>. Les membres du bureau, qui  sont aussi les employeurs bénévoles, jouent un <strong>rôle essentiel</strong> dans le bon fonctionnement de l’AIPE.</p>
        <div class="pblock-section df fd-c fd-cr--large">
            <div class="cadre theme-parent grid-aider">
                <h4 class="h4 grid-aider__titre">Envie de donner un coup de main&nbsp;?</h4>
                <div class="grid-aider__visuel">
                    <div class="df jc-c">
                        <img src="/media/image/accueil/membre-benevol-contact.png" alt="" width="366">
                    </div>
                </div>
                <div class="grid-aider__intro df fd-c gap">
                    <p>Les postes de présidente et trésorière sont pourvus pour 2025, mais de <strong>nombreuses façons de s’impliquer</strong> dans l’association restent possibles.</p>
                    <div>
                        <p>Envie de rejoindre notre association ou de mieux connaître les rôles du bureau&nbsp;?</p>
                        <p><a class="accent" href="/nous-rejoindre/">Découvrez toutes les infos sur le bénévolat à l’AIPE</a></p>
                    </div>
                </div>
                <p class="grid-aider__lien">
                    {{ button(
                        theme="parent",
                        href="mailto:aipe.petite.enfance@gmail.com",
                        label="aipe.petite.enfance@gmail.com"
                    ) }}
                </p>
                <p class="grid-aider__accroche text-20">Si vous êtes intéressé·e,&nbsp;<br>n’hésitez pas à nous le faire savoir </p>
            </div>
            {% call ping_pong(
                type="pong",
                theme="parent",
                imageVertical="/media/image/accueil/membre-benevol-vertical.png",
                imageHorizontal="/media/image/accueil/membre-benevol-horizontal.png"
            ) %}
                <p><strong>Le bureau est renouvelé chaque année</strong> lors de l’assemblée générale et les membres peuvent bien sûr s’investir sur plusieurs années</p>
                {% set listeMembre = [
                    { col1: "Présidente", col2: "Lucille Esnault" },
                    { col1: "Trésorière", col2: "Julie Brunel" },
                    { col1: "Secrétaire", col2: "Marie Schmi"}
                ] %}
                {{ matrix(datas=listeMembre) }}
                <p>
                    Si vous avez des questions, nous sommes joignables par mail <a class="accent" href="mailto:aipe.bureau38@gmail.com">{{ stylizeAt("aipe.bureau38@gmail.com") }}</a>
                </p>
            {% endcall  %}
        </div>
    </div>
</div>