---
layout: layouts/page.njk
title: AIPE | Association Intercommunale Petite Enfance de Moirans
metaDescription: Une association pour les enfants, les parents et les professionnels.
permalink: /accueil/index.html
eleventyNavigation:
    key: Accueil
    order: 1
accueil: "true"
scriptsJs: 
    - filtrePartenaire
---
{% from "macros/hero.njk" import hero as hero %}
{% from "macros/button.njk" import button as button %}
{% from "macros/ping_pong.njk" import ping_pong as ping_pong %}
{% from "macros/intercalaire.njk" import intercalaire as intercalaire %}
{% from "macros/logo_partenaire.njk" import logo_partenaire as logo_partenaire %}



{% call hero(
    titre="Éveil, soutient et formation autour de la petite enfance", 
    sousTitre="Retrouvez-nous sur les réseaux pour ne rien&nbsp;<br class='show-for-large'>manquer de nos ateliers et animations.", 
    imageVertical="/media/image/accueil/hero-vertical.png",
    imageHorizontal="/media/image/accueil/hero-horizontal.png"
) %}
    <div class="df fw-w gap">
        {{ button(
            theme="pro",
            href="https://www.facebook.com/aiperam",
            icon="facebook",
            label="Facebook",
            external="true"
        ) }}
        {{ button(
            theme="pro",
            href="https://www.instagram.com/aipe.38",
            icon="instagram-line",
            label="Instagram",
            external="true"
        ) }}
    </div>
{% endcall %}



<div class="grid-main__item-full vague v_haut bg-primary"></div>
<div class="grid-main__item-full grid-main bg-primary pblock-section">
    <div class="df fd-c gap-20">
        <h2>Qui sommes nous ?</h2>
        <p class="text-20">
            L’AIPE, Association Intercommunale pour la petite enfance est gérée par des parents&nbsp;<br class="show-for-large">bénévoles qui développe des activités autour de la petite enfance à travers le RPE et la commission Acti’Bébé. 
        </p>
        <h3 class="show-for-sr">Nos objectifs</h3>
        <div class="ct-inline">
            <ul class="reset grid-objectif has-dancing">
                <li class="text-20 grid-objectif__eveil theme-enfant">
                    <p>Favoriser <strong class="surligne">l’éveil</strong>&nbsp;<br>des <strong class="surligne">tout&nbsp;petits</strong></p>
                </li>
                <li class="text-20 grid-objectif__formation theme-pro">
                    <p>Encourager la&nbsp;<br><strong class="surligne">formation</strong> des&nbsp;<br>parents et des professionnels</p>
                </li>
                <li class="text-20 grid-objectif__garde theme-neutre">
                    <p>Informer sur les&nbsp;<br><strong class="surligne">différents</strong> modes&nbsp;<br class="persite"> de <strong class="surligne">gardes</strong>&nbsp;<br>d’enfants</p>
                </li>
                <li class="text-20 grid-objectif__accompagner theme-parent">
                <p><strong class="surligne">Accompagner</strong>&nbsp;<br>le rôle&nbsp;<br><strong class="surligne">de parent</strong></p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="grid-main__item-full vague v_bas bg-primary"></div>



 <div class="pblock-section"></div>   
    <h3><span class="font-hero">Le <abbr>RPE</abbr></span> Relais Petite Enfance</h3>

    {% call ping_pong(
        theme="parent",
        titre="Auprès des parents",  
        imageVertical="/media/image/accueil/rpe-parent-vertical.png",
        imageHorizontal="/media/image/accueil/rpe-parent-horizontal.png"
    ) %}
        <ul class="df fd-c gap">
            <li>La recherche d’un mode d’accueil</li>
            <li>Un accompagnement pour l’élaboration et la gestion d’un contrat de travail</li>
        </ul>
        <div class="cadre df fd-c gap">
            <p>Une <strong>permanence administrative</strong> est assurée&nbsp;<br class="show-for-large">par un professionnel</p>
            <ul class="reset df fw-w gap-8">
                <li>
                    {{ button(
                        theme="parent",
                        href="tel:0749836207",
                        label="07 49 83 62 07"
                    ) }}
                </li>
                <li>
                    {{ button(
                        theme="parent",
                        href="mailto:aipe.petite.enfance@gmail.com",
                        label="aipe.petite.enfance<span class='font-system'>@</span>gmail.com"
                    ) }}
                </li>
            </ul>
            <p><a href="/rpe/">Consulter les horaires des permanences</a></p>
        </div>
    {% endcall  %}


    {% call ping_pong(
        type="pong",
        theme="enfant",
        titre="Auprès des assistantes maternelles et des enfants",  
        imageVertical="/media/image/accueil/rpe-enfant-vertical.png",
        imageHorizontal="/media/image/accueil/rpe-enfant-horizontal.png"
    ) %}
        <ul class="df fd-c gap">
            <li>Accueil de l’enfant dans l’apprentissage de la socialisation avec son assistante maternelle.</li>
            <li>Un soutien et un accompagnement des assistantes maternelles dans leur pratique professionnelle</li>
        </ul>
    {% endcall  %}

    {% call ping_pong(
        theme="pro",
        titre="Le <abrr>RPE</abrr>, c’est aussi",  
        imageVertical="/media/image/accueil/rpe-pro-vertical.png",
        imageHorizontal="/media/image/accueil/rpe-pro-horizontal.png"
    ) %}
        <ul class="df fd-c gap">
            <li>Des sorties, découvertes, spectacles, tout au long de l’année (Fête de Noël, carnaval, sortie de fin d’année).</li>
            <li>Des conférences-débats destinées aux parents et assistantes maternelles sur les thèmes de la petite enfance.</li>
        </ul>
    {% endcall  %}

</div>



{% call intercalaire(theme="parent") %}
    <div class="df jc-c">
        <p>Une association pour les enfants, les parents et les professionnels</p>
    </div>
{% endcall  %}
  


 <div class="pblock-section">   
    <h3><span class="font-hero">L’Acti'Bébé</span> Commission Animation Formation</h3>
    <p>Afin de proposer des ateliers aux enfants et aux familles, des parents bénévoles et des professionnelles se réunissent régulièrement pour réfléchir sur des projets autour de la petite enfance.</p>

    {% call ping_pong(
        type="pong",
        theme="pro",
        titre="Des ateliers pour les touts petits et leurs parents",  
        imageVertical="",
        imageHorizontal=""
    ) %}
        <ul class="df fd-c gap">
            <li><strong>Massage bébé</strong> : découverte du massage guidée par des professionnels de la petite enfance</li>
            <li><strong>Motricité </strong>: découverte de son corps dans un espace aménagé</li>
            <li><strong>Communication gestuelle</strong> : initiation à la langue des signes bébé pour mieux comprendre ses besoins avant les premiers mots</li>
            <li><strong>Secourisme parent-enfant</strong> gestes de premiers secours adaptés aux tout-petits</li>
            <li><strong>Spectacles</strong> à destination du très jeune public</li>
        </ul>
    {% endcall  %}

    {% call ping_pong(
        theme="parent",
        titre="Des soirées à thèmes et de la location",  
        imageVertical="",
        imageHorizontal=""
    ) %}
        <ul class="df fd-c gap">
            <li><strong>Initiation au maquillage de fête</strong> : des stages sont proposés aux parents et professionnels</li>
            <li><strong>Soirées d’information et de débats</strong> autour de la parentalité</li>
            <li><strong>Matinées jeux</strong> pour enfants et échanges sur la parentalité</li>
            <li><strong>Location de mallettes de maquillage</strong> que vous soyez une association, un particulier ou un professionnel</li>
        </ul>
    {% endcall  %}
</div>



{% call intercalaire(theme="enfant", titre="Nous intervenons dans les communes de") %}
    <ul class="reset df fw-w jc-c--medium gap-8 col-gap-60--medium">
        <li>Moirans,</li>
        <li>Réaumont,</li>
        <li>Charnècles,</li>
        <li>Rives,</li>
        <li>St Jean de Moirans,</li>
        <li>St Blaise du Buis,</li>
        <li>La Murette</li>
        <li>Charnècles</li>
    </ul>
{% endcall  %}



<div class="pblock-section">
    <h2 id="partenaire-titre">Nos partenaires</h2>
    <p class="mb">Notre association intervient sur 8 communes, elle est en relation avec les diverses structures associatives de cette intercommunalité.</p>
    <div class="mb">
        <ul class="reset df fw-w gap-8 js--filtre-buttons" data-filtre-class-inactif="v_secondary" data-filtre-class-actif="theme-neutre">
            <li>
                {{ button(
                    label="Tous",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-tous'"
                ) }}
            </li>
            <li>
                {{ button(
                    theme="secondary",
                    label="Communes",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-communes'"
                ) }}
            </li>
            <li>
                {{ button(
                    theme="secondary",
                    label="Crèches",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-creches'"
                ) }}
            </li>
            <li>
                {{ button(
                    theme="secondary",
                    label="Autres",
                    outline="true",
                    attributes="data-filtre-cible='js--filtre-autres'"
                ) }}
            </li>
        </ul>
        <div class="show-for-sr js--filtre-annonce" aria-live="polite" role="status"></div>
    </div>
    <ul class="reset df fw-w gap-20 js--filtre-partenaire" aria-labelledby="partenaire-titre">
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="Moirans (lieu de notre siège social)"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="Saint Jean de Moirans"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="Rives"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="La Murette"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="Saint Cassien"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="Réaumont"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="Saint Blaise du Buis"
            ) }}
        </li>
        <li class="js--filtre-communes">
            {{ logo_partenaire(
                alt="Charnècles"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                alt="Les p’tits Loups, Saint Jean de Moirans"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                alt="La Ruche (anciennement la Balancelle), Moirans"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                alt="Halte Garderie L’envol, Coublevie"
            ) }}
        </li>
        <li class="js--filtre-creches">
            {{ logo_partenaire(
                alt="Crèche La Ribambelle, Rives"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                alt="Association Jumeau et plus"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                alt="ACEPP38"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                alt="CAF Isère"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                alt="Conseil Départemental de l’Isère"
            ) }}
        </li>
        <li class="js--filtre-autres">
            {{ logo_partenaire(
                alt="Petit Pré"
            ) }}
        </li>
    </ul>
</div>



{% call intercalaire(theme="pro", titre="Nos valeurs") %}
    <ul class="reset df fw-w jc-c--medium gap-8 col-gap-60--medium">
        <li>Partage,</li>
        <li>Écoute,</li>
        <li>Convivialité</li>
    </ul>
{% endcall  %}



<div class="pblock-section">
    <h2 id="partenaire-titre">Nos membres</h2>
    <p class="mb">Qu’ils soient professionnels de la petite enfance ou parents bénévoles, les membres actifs de l’association s’engagent pleinement pour faire vivre le projet associatif.</p>

    <div class="grid-ping ai-c pblock-section theme-pro">
        <h4 class="h4 grid-ping-pong__titre">Professionnels</h4>
        <div class="grid-ping-pong__visuel">
            <div class="cadre">
                image
                <p>Une question, un besoin ou une envie de collaborer ? </p>
                <p>07 49 83 62 07</p>
                <p>Contactez notre équipe par mail à l’adresse</p>
                <p>aipe.petite.enfance@gmail.com</p>
            </div>
        </div>
        <div class="grid-ping-pong__contenu df fd-c gap-20">
            <p>Elles sont cinq salariées, à temps partiel, à faire tourner l’association au quotidien</p>
            <p>image</p>
            <ul class='reset'>
                <li>Coordinatrice : Nathalie Deroo, 07-49-83-62-07</li>
                <li>Animatrice : Aude Foucault, 06-49-75-45-33</li>
                <li>Animatrice : Marie Laisne, 06-50-89-74-70</li>
                <li>Animatrice : Sabine Ponti, 06-58-27-62-36</li>
                <li>Comptable : Cécile Susptitz,07-49-83-62-07</li>
            </ul>
            <p>Nous serons ravis d’échanger avec vous !</p>
        </div>
    </div>



    <div class="pblock-section">
        <h4 class="h4">Bénévoles</h4>
        <p>Une association ne peut fonctionner <strong>sans l’engagement de ses bénévoles</strong>. Les membres du bureau, qui en sont aussi les employeurs bénévoles, jouent un <strong>rôle essentiel</strong> dans son bon fonctionnement..</p>

        <div class="pblock-section df fd-c fd-cr--large">
            <div class="cadre theme-parent">
                <h4>Envie de donner un coup de main ?</h4>
                <p>Les postes de présidente et trésorière sont pourvus pour 2025, mais de <strong>nombreuses façons de s’impliquer</strong> dans l’association restent possibles.</p>
                <p>Envie de rejoindre notre association ou de mieux connaître les rôles du bureau ?
        Découvrez toutes les infos sur le bénévolat à l’AIPE</p>
                <p>aipe.petite.enfance@gmail.com</p>
                image
                <p>Si vous êtes intéressé·e, n’hésitez pas à nous le faire savoir </p>
            </div>
            <div class="grid-pong ai-c pblock-section theme-parent">
                <div class="grid-ping-pong__visuel">
                    image
                </div>
                <div class="grid-ping-pong__contenu df fd-c gap-20">
                    <p><strong>Le bureau est renouvelé chaque année</strong> lors de l’assemblée générale, mais les membres peuvent bien sûr s’investir sur plusieurs années.</p>
                    Présidente : Lucille Esnault
                    Trésorière : Julie Brunel
                    Secrétaire : Marie Schmi
                    <p>
                        Si vous avez des questions, nous sommes joignables par email aipe.bureau38@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>