---
layout: layouts/page.njk
title: Acti’Bébé
metaDescription: ACTI’Bébé réunit bénévoles et pros de la petite enfance pour créer des projets, animations et partenariats au service des tout-petits.
permalink: /acti-bebe/index.html
eleventyNavigation:
    key: Acti’Bébé
    order: 3
---

<h1 class="dancing-script">Acti’Bébé</h1>