---
layout: layouts/page.njk
title: Contact
metaDescription: metadescription Contact -> A FAIRE
permalink: /contact/index.html
eleventyNavigation:
    key: Contact
    order: 5
---

<h1 class="dancing-script">Contact</h1>