---
layout: layouts/page.njk
title: Contact
metaDescription: Besoin d’infos sur nos actions ou envie de nous rejoindre ? Contactez l’AIPE, association engagée pour la petite enfance et les familles
permalink: /contact/index.html
eleventyNavigation:
    key: Contact
    order: 5
---

<h1 class="dancing-script">Contact</h1>