---
layout: layouts/maintenance.njk
title: AIPE | Notre site est actuellement en maintenance
permalink: /
accueil: true
nofollow: true
---

<div class="df fd-c gap">
    <img src="media/image/aipe-logo.svg" alt="" width="400">
    <h1>Site en maintenance</h1>
    <p>Le site de l’<strong>AIPE - Association Intercommunale Petite Enfance de Moirans</strong> est actuellement en cours de développement.</p>
    <p>Suivez nos actualités sur</p>
    <p><a href="https://www.facebook.com/aiperam" rel="noopener noreferrer">Facebook</a> et <a href="https://www.instagram.com/aipe.38" rel="noopener noreferrer">Instagram</a></p>
</div>