---
layout: layouts/maintenance.njk
title: Site en maintenance
metaDescription: Site en cours de développement - Découvrez bientôt l’univers de l’AIPE
permalink: /
---

<h1>Site en maintenance</h1>
<p>Le site de l’<strong>AIPE - Association Intercommunale Petite Enfance de Moirans</strong> est actuellement en cours de développement.</p>
<p>Suivez nos actualités en attendant : <a href="https://www.facebook.com/aiperam" rel="noreferrer">Facebook</a> <a href="https://www.instagram.com/aipe.38" rel="noreferrer">Instagram</a></p>