---
layout: layouts/page.njk
title: Mentions légales
metaDescription: metadescription Mentions légales -> A FAIRE
permalink: /mention-legales/index.html
---

<h1 class="dancing-script">Mentions légales</h1>

<h2>Sommaire</h2>
<ul>
    <li><a href="#credits">Crédits</a></li>
    <li><a href="#identification-de-l-association">Identification de l'association</a></li>
    <li><a href="#licence">Licence</a></li>
    <li><a href="#cookies-et-statistiques">Cookies & Statistiques</a></li>
    <li><a href="/plan-du-site/">Plan du site</a></li>
    <li><a href="#accessibilite">Accessibilité</a></li>
</ul>


<h2 id="credits">Crédits</h2>
<p>Ce site est réalisé par l'AIPE (Association Intercommunale pour la Petite Enfance) de Moirans, Isère, France.</p>
<ul>
    <li>Logo : A FAIRE</li>
    <li>Conception du site&nbsp;: <a href="https://www.pierre.tl" target="_blank" rel="noreferrer" title="Developpment & Design - Nouvelle fenetre">Pierre Tampon-Lajarriette</a></li>
    <li>Illustrations des rubriques et articles : A FAIRE</li>
    <li>Direction de la publication : A FAIRE Nom , poste </li>
</ul>


<h2 id="identification-de-l-association">Identification de l'association</h2>
<p>
    Association Intercommunale pour la Petite Enfance (AIPE)<br>
    Maison de la Petite Enfance<br>
    90 Rue des Fleurs<br>
    38430 Moirans
</p>
<p>
    Tél. : 07 49 83 62 07<br>
    Email :  <a href="mailto:petite.enfance@assoaipe.fr">petite.enfance@assoaipe.fr</a>
</p>
<h3>Immatriculation</h3>
<p>A FAIRE</p>



<h2 id="licence">Licence</h2>
<p>Le site est publié sous la licence GNU General Public License v3.0</p>
<ul>
        <li><span lang="en">Source code</span>&nbsp;: <a href="https://github.com/AIPE38/aipe-website" target="_blank" rel="noreferrer" title="Source code (new window)">https://github.com/AIPE38/aipe-website</a></li>
        <li>
            <span lang="en">Deployment</span>&nbsp;: <a href="https://app.netlify.com/projects/aipe-moirans/deploys" target="_blank"  rel="noreferrer" title="Deployment (new window)">https://app.netlify.com/projects/aipe-moirans/deploys</a>
            <img src="https://api.netlify.com/api/v1/badges/c4a7dda7-40cd-455c-8e1e-86a95c841735/deploy-status" alt="">
        </li>
    </ul>


<h2 id="cookies-et-statistiques">Cookies & Statistiques</h2>
<h3>Respect de la vie privée</h3>
<p>Ce site ne utilise aucun cookie et ne collecte aucune statistique de navigation. Nous nous engageons à protéger les données de nos visiteurs en garantissant un accès sans traçage ni surveillance.</p>


<h2 id="plan-du-site">Plan du site</h2>
<a href="/plan-du-site/">Plan du site</a>


<h2 id="accessibilite">Accessibilité</h2>

<p>L'accessibilité numérique est une obligation légale en France et dans l'Union européenne. Elle vise à garantir que les sites internet soient utilisables par tous, y compris les personnes en situation de handicap. Cette exigence repose sur des principes d’égalité d’accès à l’information et de non-discrimination, et s’inscrit dans une volonté de construire un environnement numérique inclusif pour tous les citoyens.</p>
<p>État de conformité : en attente</p>