---
layout: layouts/page.njk
title: Inscription confirmée !
permalink: /merci-newsletter.html
---

{% from "macros/button.njk" import button as button %}


<div class="pblock-section" id="benevoles">
    <div class="df fd-c gap-20">
        <h2>Confirmation d’inscription à la newsletter de l’AIPE</h2>
        <p>Retourner sur le <a href="/acti-bebe/">formulaire d’inscription</a> ou sur la <a href="/">page d'accueil</a></p>
    </div>
</div>