---
layout: layouts/page.njk
title: Nous Rejoindre
metaDescription: Envie de vous engager pour la petite enfance ? Rejoignez l’AIPE et participez à des actions locales avec d’autres parents et professionnels
permalink: /nous-rejoindre/index.html
eleventyNavigation:
    key: Nous Rejoindre
    order: 4
---

<h1 class="dancing-script">Nous rejoindre</h1>