---
layout: layouts/page.njk
title: Nous Rejoindre
metaDescription: Envie de vous engager pour la petite enfance ? Rejoignez l’AIPE et participez à des actions locales avec d’autres parents et professionnels
permalink: /nous-rejoindre/index.html
eleventyNavigation:
    key: Nous Rejoindre
    order: 4
---
{% from "macros/hero.njk" import hero as hero %}
{% from "macros/ping_pong.njk" import ping_pong as ping_pong %}

{% call hero(
    titre="Rejoignez le bureau de l’AIPE", 
    sousTitre="L'association recherche des parents bénévoles souhaitant s’impliquer activement dans le fonctionnement et les projets de l’association.", 
    imageVertical="/media/image/rejoindre/bureau-vertical.png",
    imageHorizontal="/media/image/rejoindre/bureau-horizontal.png"
) %}
{% endcall %}



<div class="grid-main__item-full vague v_haut bg-primary"></div>
<div class="grid-main__item-full grid-main bg-primary pblock-section">
    <div class="df fd-c gap-20">
        <h2>Construisons ensemble l’avenir de l’association</h2>
        <p class="text-20">
            Le bureau doit être composé à minima de 3 membres, président, trésorier et secrétaire. Mais tous les parents sont les bienvenus pour participer ! Sans bureau, l'association ne peut pas fonctionner.
        </p>
        <div class="cadre">
            <p>Pour être membre du bureau, il faut être adhérent à l’association, être présent à l’<abbr title="Assemblée Générale">AG</abbr> ou donner un pouvoir à une personne présente. Il est aussi possible d’être coopté en cours d’année.
</p>
        </div>
        <p>Les membres sont accompagnés par la coordinatrice ainsi que par les autres salariées</p>
    </div>
</div>
<div class="grid-main__item-full vague v_bas bg-primary"></div>


{% call ping_pong(
        type="pong",
        theme="parent",
        titre="Les missions communes",  
        imageVertical="/media/image/rejoindre/commune-vertical.png",
        imageHorizontal="/media/image/rejoindre/commune-horizontal.png",
        seo= "h3"
    ) %}
        <ul class="df fd-c gap">
            <li>Participer et porter les projets de l’association</li>
            <li>Répondre aux questions des salariés</li>
            <li>Représenter l'association auprès des communes, des institutions qui subventionnent (CAF, conseil départemental)</li>
            <li>Implication RH (Faire passer les entretiens professionnels et annuels, valider les congés…)</li>
            <li>Valider le plan de formation</li>
        </ul>
{% endcall  %}



 <div class="pblock-section">
    <div class="df fd-c gap-20">

        <h3>Les missions spécifiques</h3>
        <p>Les missions du bureau sont à répartir entre les membres</p>

        <div class="dg v_3col gap">
            <div class="df fd-c gap theme-enfant">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">le Président</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>S’occuper de l’administration de la banque</li>
                    <li>Présider préparer le rapport moral pour chaque Assemblée Générale</li>
                    <li>Valider les documents CAF sur le site environ 4 fois par an</li>
                </ul>
            </div>
            <div class="df fd-c gap theme-pro">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">le Secrétaire</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>Ecrire et diffuser les comptes-rendus</li>
                </ul>
            </div>
            <div class="df fd-c gap theme-parent">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">le Trésorier</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>Établir avec l’aide de la comptable le budget prévisionnel et le compte de résultat</li>
                    <li>Elaborer et présenter les rapports financiers en CA et AG</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% call ping_pong(
        type="ping",
        theme="pro",
        titre="Les engagements / implantations",  
        imageVertical="/media/image/rejoindre/engagement-vertical.png",
        imageHorizontal="/media/image/rejoindre/engagement-horizontal.png",
        seo= "h3"
    ) %}
        <ul class="df fd-c gap">
            <li>Réunions trimestrielles avec les 5 salariés 4 fois par an</li>
            <li>Réunions régulières du bureau, en présentiel ou visio</li>
            <li>Assemblée générale et Conseils d’Administration</li>
            <li>Possibilité d'être dans la commission Acti’BB</li>
            <li>Implication en fonction des contraintes personnelles du bénévole</li>
            <li>Les enfants sont toujours les bienvenus à nos réunions et événements</li>
        </ul>
{% endcall  %}



 <div class="pblock-section">
    <p class="text-20">En relation avec des acteurs pluridisciplinaires, les mairies et leurs élus, les assistantes maternelles et le monde de la petite enfance, les animatrices et les parents venant de tous horizons.</p>
</div>