---
layout: layouts/page.njk
title: Plan du site
permalink: /plan-du-site/index.html
eleventyNavigation:
    key: Plan du site
    order: 7
    planDuSite: true
---

{% set planDuSitePages = collections.all | eleventyNavigation %}

<div class="pblock-section df fd-c gap-20">
    <h1 class="dancing-script">Plan du site</h1>

    <ul class="df fd-c gap-8">
        {%- for entry in planDuSitePages %}
            <li>
                {% if entry.url == page.url %}
                    <a href="{{ entry.url | url }}" aria-current="page">
                        {{ entry.title }}
                    </a>
                {% else %}
                    <a href="{{ entry.url | url }}">
                        {{ entry.title }}
                    </a>
                {% endif %}
            </li>
        {%- endfor %}
    </ul>
</div>
