---
layout: layouts/page.njk
title: Relais Petite Enfance (RPE)
metaDescription: Parents, nous sommes à vos côtés pour vous soutenir, ainsi que les assistantes maternelles pendant toute la période d’accueil de votre enfant.
permalink: /rpe/index.html
eleventyNavigation:
    key: RPE
    order: 2
scriptsJs:
    - leaflet
    - map
    - accordion
---
{% from "macros/hero.njk" import hero as hero %}
{% from "macros/button.njk" import button as button %}
{% from "macros/intercalaire.njk" import intercalaire as intercalaire %}
{% from "macros/ping_pong.njk" import ping_pong as ping_pong %}
{% from "macros/matrix.njk" import matrix as matrix %}
{% from "macros/rpe_accordion_parent.njk" import rpe_accordion_parent as rpe_accordion_parent %}

{% call hero(
    titre="Le <abbr>RPE</abbr> - Relais Petite <br class='show-for-large'>Enfance de l'AIPE", 
    sousTitre="Informer, orienter et accompagner parents et assistantes maternelles dans leur parcours d’accueil de l’enfant.", 
    imageVertical="/media/image/placeholder-vertical.png",
    imageHorizontal="/media/image/placeholder-horizontal.png"
) %}
{% endcall %}



<div class="grid-main__item-full vague v_haut bg-primary"></div>
<div class="grid-main__item-full grid-main bg-primary pblock-section">
    <div class="df fd-c gap-20">
        <h2>À vos côtés</h2>
        <p class="text-20">
            Un soutien pour vous et les assistantes maternelles tout au long de l’accueil de votre enfant.
        </p>
        <div class="df jc-sa gap">
            {{ button(
                href="#parent",
                label="Je suis parent",
                theme="parent"
            ) }}
            {{ button(
                href="#assistante-maternelle",
                label="Je suis assistante maternelle",
                theme="pro"
            ) }}
        </div>
    </div>
</div>
<div class="grid-main__item-full vague v_bas bg-primary"></div>



 <div id="parent" class="pblock-section">
    <div class="df fd-c gap-20">
        <h2>Parents, futurs parents, employeurs d’assistantes maternelles</h2>

        <h3>Découvrez nos services</h3>

        <div class="dg v_3col gap">
            <div class="df fd-c gap theme-enfant">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">Informer</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>Tous les modes d’accueil de l’enfant</li>
                    <li>Les disponibilités des assistantes maternelles du territoire</li>
                    <li>Le rôle d’employeur et ses démarches</li>
                </ul>
            </div>
            <div class="df fd-c gap theme-pro">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">Accueillir</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>Votre enfant et son assistante maternelle pour des temps d’éveil et de socialisation douce</li>
                    <li>Parents et assistantes maternelles sur des temps de partage festif ou thématiques</li>
                </ul>
            </div>
            <div class="df fd-c gap theme-parent">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">Accompagner</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>En vous offrant une écoute personnalisée</li>
                    <li>Dans votre parentalité et vos questions et besoins du moment</li>
                </ul>
            </div>
        </div>
    </div>
</div>



 <div class="pblock-section theme-parent">
    <div class="df fd-c gap-20">
       <h3>Rencontres et permanences parentales</h3>

        <div class="grid-pong v_no-titre ai-c pblock-section">
            <div class="grid-ping-pong__visuel">
                {% set dataLieuParent = [
                    { 
                        ville: 'Charnècles', 
                        titre: 'Relais Petite Enfance - Salle du Pont Romain', 
                        adresse: '212-260 Chemin de l’Eglise',
                        horaire: '2ème et 4ème Mardis du mois de 11h à 12h',
                        telephone: '06 58 27 62 36',
                        btn: 'btn-mapparent-charnecles'
                    },
                    {
                        ville: 'La Murette',
                        titre: 'Relais Petite Enfance - Petite salle polyvalente',
                        adresse: 'Chemin du Clapier',
                        horaire: '1er et 3ème Vendredis du mois de 11h à 12h en cours de changement/validation',
                        telephone: '06 50 89 74 70',
                        btn: 'btn-mapparent-la-murette'
                    },
                    {
                        ville: 'Moirans',
                        titre: 'Relais Petite Enfance - Maison de la Petite Enfance',
                        adresse: '90 rue des Fleurs',
                        horaire: '1er et 3ème mardis du mois : 13h30-15h, jeudi : 16h30 -18h et vendredi : 11h-12h30',
                        telephone: '06 49 75 45 33',
                        btn: 'btn-mapparent-moirans'
                    },
                    {
                        ville: 'Réaumont',
                        titre: 'Mairie',
                        adresse: '10 Place de la mairie',
                        horaire: '2ème vendredi du mois de 16h à 18h (voir dates en mairie)',
                        telephone: '06 58 27 62 36',
                        btn: 'btn-mapparent-reaumont'
                    },
                    {
                        ville: 'Rives CSMO',
                        titre: "Centre Social de l'Orgère CSMO",
                        adresse: '96 rue Sadi Carnot',
                        horaire: 'Lundi de 16h à 18h',
                        telephone: '06 50 89 74 70',
                        btn: 'btn-mapparent-rives'
                    },
                    {
                        ville: 'Rives RPE',
                        titre: "Relais Petite Enfance - Pôle Petite Enfance",
                        adresse: '438 rue Bayard',
                        horaire: 'Jeudi de 11h15 à 12h15',
                        telephone: '06 50 89 74 70',
                        btn: 'btn-mapparent-rives2'
                    },
                    {
                        ville: 'Saint-Blaise-du-Buis',
                        titre: 'Mairie',
                        adresse: '305 rue de la Mairie',
                        horaire: '3ème vendredi du mois de 16h à 18h (voir dates en mairie)',
                        telephone: '06 58 27 62 36',
                        btn: 'btn-mapparent-st-blaise-du-buis'
                    },
                    {
                        ville: 'Saint-Cassien',
                        titre: 'Mairie',
                        adresse: '9 route de Chartreuse',
                        horaire: '1er vendredi du mois de 16h à 18h (voir dates en mairie)',
                        telephone: '06 58 27 62 36',
                        btn: 'btn-mapparent-saint-cassien'
                    },
                    {
                        ville: 'Saint-Jean-de-Moirans',
                        titre: 'Relais Petite Enfance',
                        adresse: '112 Rue Soffrey de Calignon',
                        horaire: 'Lundis de 16h à 18h et les 1ers et 3èmes vendredis du mois de 11h15 à 12h30',
                        telephone: '06 58 27 62 36',
                        btn: 'btn-mapparent-st-jean-de-moirans'
                    }
                ] %}
                {{ rpe_accordion_parent(datas=dataLieuParent) }}
                <button type='button' class='button theme v_outline v_small mt-8' id='btn-reset-mapparent' aria-hidden='true'>Zoom par défaut</button>
            </div>
            <div class="grid-ping-pong__contenu as-s df fd-c gap-30">
                <div id="map-parent" class="map" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</div>



{% call intercalaire(theme="enfant") %}
    <div class="df jc-c">
        <p>Plus d’informations sur les missions d’un RPE<br class="show-for-large"> sont disponibles sur le <a href="https://www.caf.fr/allocataires/aides-et-demarches/thematique-libre/relais-petite-enfance-rpe" rel="external" target="_blank" title="site de la CAF - Nouvel fenêtre" aria-label="site de la CAF - Nouvel fenêtre">site de la CAF</a></p>
    </div>
{% endcall  %}



 <div id="assistante-maternelle" class="pblock-section">
    <div class="df fd-c gap-20">
        <h2>Pour assistante maternelle agréée, candidate à l’agrément</h2>

        <h3>Découvrez nos services</h3>

        <div class="dg v_3col gap">
            <div class="df fd-c gap theme-enfant">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">Informe</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>Les démarches d’agrément</li>
                    <li>Votre statut professionnel et votre droit à la formation</li>
                    <li>L’actualité de votre profession</li>
                </ul>
            </div>
            <div class="df fd-c gap theme-pro">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">Accueille</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>Avec les enfants que vous accompagnez sur les ateliers d’éveil et temps festifs</li>
                    <li>Pour des temps d’échanges professionnels</li>
                </ul>
            </div>
            <div class="df fd-c gap theme-parent">
                <div class="text-20 has-dancing font-700">
                    <h4 class="surligne">Accompagne</h4>
                </div>
                <ul class="df fd-c gap-8">
                    <li>En vous offrant une écoute bienveillante et constructive</li>
                    <li>En vous soutenant dans l’exercice de votre profession</li>
                </ul>
            </div>
        </div>
    </div>
</div>



 <div class="pblock-section theme-pro">
    <div class="df fd-c gap-20">
       <h3>Des lieux d’éveil pour les enfants et leurs assistantes maternelles</h3>
       <p>Nous vous accueillons avec les enfants lors de temps d’éveil organisés sur différentes communes</p>

        <div class="grid-pong v_no-titre ai-c pblock-section">
            <div class="grid-ping-pong__visuel">
                {% set listeLieuxPro = [
                    { 
                        col1: "<button type='button' class='button v_small' id='btn-mappro-moirans'>Moirans</button>", 
                        col2: "<a href='#lieux-moirans' aria-label='Plus d&#39;info sur notre antenne de Moirans'>Détails</a>" 
                    },
                    { 
                        col1: "<button type='button' class='button v_small' id='btn-mappro-st-jean-de-moirans'>Saint Jean de Moirans</button>", 
                        col2: "<a href='#lieux-st-jean-de-moirans' aria-label='Plus d&#39;info sur notre antenne de Saint Jean de Moirans'>Détails</a>"  
                    },
                    { 
                        col1: "<button type='button' class='button v_small' id='btn-mappro-rives'>Rives</button>", 
                        col2: "<a href='#lieux-rives' aria-label='Plus d&#39;info sur notre antenne de Rives'>Détails</a>" 
                    },
                    { 
                        col1: "<button type='button' class='button v_small' id='btn-mappro-charnecles'>Charnècles</button>", 
                        col2: "<a href='#lieux-charnecles' aria-label='Plus d&#39;info sur notre antenne de Charnècles'>Détails</a>" 
                    },
                    { 
                        col1: "<button type='button' class='button v_small' id='btn-mappro-la-murette'>La Murette</button>", 
                        col2: "<a href='#lieux-la-murette' aria-label='Plus d&#39;info sur notre antenne de La Murette'>Détails</a>" 
                    },
                    { 
                        col1: "<button type='button' class='button v_outline v_small' id='btn-reset-mappro' aria-hidden='true'>Zoom par défaut</button>"
                    }
                ] %}
                {{ matrix(datas=listeLieuxPro, nbCol=2, growCol=1) }}
            </div>
            <div class="grid-ping-pong__contenu as-s df fd-c gap-30">
                <div id="map-pro" class="map" aria-hidden="true"></div>
            </div>
        </div>

        <div class="cadre">
            <div class="grid-pong v_no-titre ai-c pblock-section">
                <div class="grid-ping-pong__visuel">
                    image
                </div>
                <div class="grid-ping-pong__contenu df fd-c gap-30">
                    <p class="text-20">Nouvelle assistante maternelle sur notre secteur ?</p>
                    <div>
                        {{ button(
                            href="/",
                            label="Prendre contact",
                            theme="parent"
                        ) }}
                    </div>
                </div>
            </div>
        </div>

        <div id="lieux-moirans">
            <h4>Moirans</h4>
            <h5>Maison de la Petite Enfance</h5>
            <p>90 Rue des Fleurs, 38430, Moirans, France</p>
        </div>

        <div id="lieux-st-jean-de-moirans">
            <h4>Saint Jean de Moirans</h4>
            <p>112 rue Soffrey de Calignon, Saint Jean de Moirans, France</p>
        </div>

        <div id="lieux-rives">
            <h4>Rives</h4>
            <p>438 rue Bayard, Rives, France</p>
        </div>

        <div id="lieux-charnecles">
            <h4>Charnècles</h4>
            <h5>Salle Pont Romain</h5>
            <p>"212-260 Chemin de l’Eglise, Charnècles, France</p>
        </div>

        <div id="lieux-la-murette">
            <h4>La Murette</h4>
            <h5>Petite salle polyvalente</h5>
            <p>Chemin du clapier, La Murette, France</p>
        </div>
</div>