---
layout: layouts/page.njk
title: Styleguide
metaDescription: metadescription ACTIBEBE -> A FAIRE
permalink: /styleguide/index.html
nofollow: true
---
{% from "macros/button_icon.njk" import button_icon as button_icon %}
{% from "macros/button.njk" import button as button %}

<h1>Styleguide</h1>

<style>
    .styleguide-h2 {
        font-family: sans-serif;
        border-top: 3px solid var(--c-fg-primary);
        border-left: 3px solid var(--c-fg-primary);
        padding-top:.5rem;
        padding-left:.5rem;
        margin-top: 3rem;
    }
    .styleguide-h3 {
        font-family: sans-serif;
        border-top: 1px solid var(--c-fg-primary);
        border-left: 1px solid var(--c-fg-primary);
        padding-top:.5rem;
        padding-left:.5rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
</style>


<h2 class="styleguide-h2">Texte et paragraphe</h2>

<h3 class="styleguide-h3">Heading</h3>
<h1>Heading h1</h1>
<h2>Heading h2</h2>
<h3>Heading h3</h3>
<h4>Heading h4</h4>
<h5>Heading h5</h5>

<h3 class="styleguide-h3">Liste</h3>
<ul class="reset df gap">
    <li>
        <ul>
            <li>liste<br>saut de ligne</li>
            <li>non</li>
            <li>ordonnée</li>
        </ul>
    </li>
    <li class="theme-parent">
        <ul>
            <li>liste<br>saut de ligne</li>
            <li>non</li>
            <li>ordonnée</li>
        </ul>
    </li>
    <li class="theme-enfant">
        <ul>
            <li>liste<br>saut de ligne</li>
            <li>non</li>
            <li>ordonnée</li>
        </ul>
    </li>
    <li class="theme-pro">
        <ul>
            <li>liste<br>saut de ligne</li>
            <li>non</li>
            <li>ordonnée</li>
        </ul>
    </li>
</ul>

<h3 class="styleguide-h3">Paragraphe</h3>
<div class="has-dancing">
    <p>Paragraphe défaut : Lorem ipsum <strong>dolor sit</strong> amet, <a href="#">lien dans paragraphe</a> dolor <span class="surligne theme-neutre">neutre</span> adipisicing <span class="surligne theme-parent">parent</span> elit  <span class="surligne theme-enfant">enfant</span> sequi <span class="surligne theme-pro">pro</span> ratione.</p>
</div>

<div class="text-20 has-dancing">
    <p>Paragraphe 20 : Lorem ipsum <strong>dolor sit</strong> amet, <a href="#">lien dans paragraphe</a> dolor <span class="surligne theme-neutre">neutre</span> adipisicing <span class="surligne theme-parent">parent</span> elit  <span class="surligne theme-enfant">enfant</span> sequi <span class="surligne theme-pro">pro</span> ratione.</p>
</div>


<h2 class="styleguide-h2">Lien et Bouton</h2>

<div class="df fd-c gap">

    <h3 class="styleguide-h3">Lien de paragraphe</h3>
    <ul class="reset df gap">
        <li>
            <a href="#">lien dans paragraphe</a>
        </li>
        <li>
            <a href="#" rel="external">lien external</a>
        </li>
    </ul>

    <h3 class="styleguide-h3">button icon</h3>
    <ul class="reset df gap">
        <li>
            {{ button_icon(href="/",label="Default", icon="sun") }}
        </li>
        <li>
            {{ button_icon(href="/",label="Parent theme", icon="sun", theme="parent") }}
        </li>
        <li>
            {{ button_icon(href="/",label="Enfant theme", icon="sun", theme="enfant") }}
        </li>
        <li>
            {{ button_icon(href="/",label="Default", icon="sun", theme="pro") }}
        </li>
    </ul>

    <h3 class="styleguide-h3">button</h3>
    <ul class="reset df  fd-c gap">
        <li>
            {{ button(
                href="/",
                label="theme- neutre - classique"
            ) }}
        </li>
        <li>
            {{ button(
                href="/",
                label="theme parent - external",
                theme="parent",
                external="true"
            ) }}
        </li>
        <li>
            {{ button(
                href="mailto:aipe.petite.enfance@gmail.com",
                label="theme enfant - mailto",
                theme="enfant"
            ) }}
        </li>
        <li>
            {{ button(
                href="tel:0749836207",
                label="theme pro - tel:",
                theme="pro"
            ) }}
        </li>
        <li>
            {{ button(
                href="/",
                icon="facebook",
                label="theme- neutre - icon"
            ) }}
        </li>
    </ul>
</div>

<h2 class="styleguide-h2">Cadre</h2>

<ul class="reset df  gap">
    <li>
        <div class="cadre">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </li>
    <li class="theme-parent">
        <div class="cadre">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </li>
    <li class="theme-enfant">
        <div class="cadre">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </li>
    <li class="theme-pro">
        <div class="cadre">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </li>
</ul>