@use "sass:map";
@use "../Abstracts/__index" as *;

.button-icon {
    --c-bg: var(--c-theme-neutre);
    width: rem(35px);
    height: rem(35px);
    border-radius: rem(1000px);
    background-color: var(--theme-bg);
    transition: all 0.2s ease-in-out;

    @include breakpoint(large) {
        width: rem(50px);
        height: rem(50px);
    }
}

.button-icon:hover,
.button-icon:focus {
    background-color: hsl(from var(--theme-bg) h s l / .6);
}

.button-icon svg {
    width: rem(20px);
    height: rem(20px);
    fill: var(--theme-fg);

    @include breakpoint(large) {
        width: rem(24px);
        height: rem(24px);
    }
}

// spécifique au header
.header .button-icon svg {
    fill: var(--c-fg-secondary);
}