@use "sass:map";
@use "../Abstracts/__index" as *;

.button {
    padding: rem(15px) rem(20px);
    background-color: var(--theme-bg);
    border-radius: rem(30px);
    color: var(--theme-fg);
    text-decoration: none;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    border: rem(1px) solid transparent;

    @include breakpoint(smallOnly) {
        width: 100%;
    }
}

.button svg {
    width: rem(17px);
    height: rem(17px);
    fill: var(--theme-fg);
    margin-right: rem(10px);
}

.button:hover,
.button:focus {
    background-color: hsl(from var(--theme-bg) h s l / .6);
    border-color: var(--theme-border);
}


.button.v_outline {
    background-color: transparent;
    border: rem(2px) solid var(--theme-border);
    color: var(--theme-fg);
}

.button.v_secondary {
   border: rem(2px) solid var(--c-bg-secondary);
}



.button.v_small {
    padding: rem(4px) rem(8px);
}