@use "sass:map";
@use "../Abstracts/__index" as *;

.bg-primary { background-color: var(--c-bg-primary)}
.bg-theme {   background-color: var(--theme-bg)}

.vague {
    height: rem(23px);
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
}

.vague.v_haut {
    -webkit-mask-image: url(/media/image/vague-haut.svg);
    mask-image: url(/media/image/vague-haut.svg);
}

.vague.v_bas {
    -webkit-mask-image: url(/media/image/vague-bas.svg);
    mask-image: url(/media/image/vague-bas.svg);
}