@use "sass:map";
@use "../Abstracts/__index" as *;

.df {
    display: flex;
}
.d-if {
    display: inline-flex;
}
.d-ib {
    display: inline-block;
}
.fd-c {
    flex-direction: column;
}
@include breakpoint("mediumDown") {
    .fd-c--md {
        flex-direction: column;
    }
}
@include breakpoint("large") {
    .fd-cr--large {
        flex-direction: column-reverse;
    }
}
.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}
.jc-sa {
    justify-content: space-around;
}
.ai-c {
    align-items: center;
}
.as-s {
    align-self: stretch;
}
.as-c {
    align-self: center;
}
.fw-w {
    flex-wrap: wrap;
}

.show-for-sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hide {
    display: none;
}

.ct-inline {
    container-type: inline-size;
}

@include breakpoint("medium") {
    .text-center--medium {
        text-align: center;
    }
    .jc-c--medium {
        justify-content: center;
    }
}

.dg {
    display: grid;
}
.dg.v_3col {
    @include breakpoint("medium") {
        grid-template-columns: repeat(3, 1fr);
    }
}