@use "sass:map";
@use "../Abstracts/__index" as *;

.text-20 { 
    font-size: rem(18px);
    @include breakpoint(large) {
        font-size: rem(20px);
    }
}
.text-38 { 
    font-size: rem(28px);
    line-height: .9;
    @include breakpoint(large) {
        font-size: rem(38px);
    }
}
.text-48 { 
    font-size: rem(48px)
}

.font-dancing { font-family: 'dancing', cursive}
.font-hero {    font-family: 'hero', sans-serif}
.font-system {  font-family: system-ui, sans-serif}

.fg-theme,
.fg-theme a:not([class]) { 
    color: var(--theme-fg) 
}

abbr{
    font-family: 'hero', sans-serif;;
}