@use "sass:map";
@use "../Abstracts/__index" as *;

.base {
    padding-block: rem(10px);
    min-height: 100dvh;

    @include breakpoint(medium) {
        padding-block: rem(10px);
    }

    @include breakpoint(large) {
        padding-block: rem(20px);
    }
}