@use "sass:map";
@use "../Abstracts/__index" as *;

.maintenance {
    padding: 1rem;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maintenance main {
    max-width: rem(700px);
    @include breakpoint(medium) {
        text-align: center;
    }
}

.maintenance a {
    font-size: 2.1rem;
    font-family: 'dancing', cursive;
    text-underline-offset: .4rem;
    color: var(--c-theme-accent);
}