@use "sass:map";
@use "../Abstracts/__index" as *;

.grid-main {
    --site-marge-inline: #{rem(20px)};

    display: grid;
    grid-template-columns: 
        minmax(var(--site-marge-inline), 1fr) 
        minmax(0,rem(1040px)) 
        minmax(var(--site-marge-inline), 1fr);

    @include breakpoint(medium) {
        --site-marge-inline: #{rem(32px)};
    }

    @include breakpoint(large) {
        --site-marge-inline: #{rem(40px)};
    }
}


.grid-main.v_body {
    grid-template-rows: auto 1fr;
}


.grid-main > * {
    grid-column: 2/3;
}

.grid-main__item-full {
    grid-column: 1/4;
}