@use "sass:map";
@use "../Abstracts/__index" as *;

.matrix {
    --nb-col : 1;
    border: rem(1px) solid var(--theme-border);
    border-radius: rem(20px);

    display: grid;
    grid-template-columns: repeat(var(--nb-col), 1fr);
}

.matrix__subgrid {
    border-top: rem(1px) solid var(--theme-border);
    padding: rem(8px) rem(16px);

    display: grid;
    grid-template-columns: subgrid;
    grid-column: span var(--nb-col);
    column-gap: rem(32px);
}

.matrix__subgrid:first-child {
    border-top: 0 none;
}


// Nombre de colonnes
.matrix.v_2col {
    --nb-col : 2;
}

.matrix.v_3col {
    --nb-col : 3;
}

// Colonne qui grandit
.matrix.v_grow1 {
    grid-template-columns: 1fr auto auto;
}
.matrix.v_grow2 {
    grid-template-columns: auto 1fr auto;
}
.matrix.v_grow3 {
    grid-template-columns: auto auto 1fr;
}



// Spécifique 3col 
@include breakpoint(smallOnly) {
    .matrix.v_3col {
        --nb-col : 1;
    }
    .matrix.v_3col.v_grow1,
    .matrix.v_3col.v_grow2,
    .matrix.v_3col.v_grow3 {
        grid-template-columns: 1fr;
    }

    .matrix.v_3col .matrix__subgrid *:nth-child(2),
    .matrix.v_3col .matrix__subgrid *:nth-child(3) {
        text-align: right;
    }

}