@use "sass:map";
@use "../Abstracts/__index" as *;

.grid-permanence {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(230px, auto);
    grid-auto-flow: dense;

    @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
    }
}

.grid-permanence .matrix,
.grid-permanence .matrix__subgrid {
    --theme-border: var(--c-theme-neutre);
}

.permanence:target {
    border-color: var(--c-theme-parent);
}

.permanence:target ul:not(.reset) li::before{
    background-image: url("/media/image/puce-pro.svg");
}

.permanence:target .matrix,
.permanence:target .matrix__subgrid {
    --theme-border: var(--c-theme-parent);
}