@use "sass:map";
@use "../Abstracts/__index" as *;

.grid-ping,
.grid-pong {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "visuel"
        "texte";
    gap: var(--main-grid-gap);

    @include breakpoint(large) {
        grid-template-rows: auto;
    }
}

.grid-ping > div:first-child,
.grid-pong > div:first-child {grid-area: visuel}

.grid-ping > div:last-child,
.grid-pong > div:last-child {grid-area: texte}


@include breakpoint(large) {

    .grid-ping {
        grid-template-columns: track-width(6) track-width(4);
        grid-template-areas: "texte visuel";
    }

    .grid-pong {
        grid-template-columns: track-width(4) track-width(6);
        grid-template-areas: "visuel texte";
    }

}