@use "sass:map";
@use "../Abstracts/__index" as *;

.grid-ping,
.grid-pong {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "titre" 
        "visuel"
        "contenu";
    gap: var(--main-grid-gap);

    @include breakpoint(large) {
        grid-template-rows: auto auto;
    }
}

.grid-ping.v_no-titre,
.grid-pong.v_no-titre {
    grid-template-rows: auto auto;
    grid-template-areas:
        "visuel"
        "contenu";
}

.grid-ping-pong__titre {    grid-area: titre}
.grid-ping-pong__visuel {   grid-area: visuel}
.grid-ping-pong__contenu {  grid-area: contenu}


@include breakpoint(large) {

    .grid-ping {
        grid-template-columns: track-width(6) track-width(4);
        grid-template-areas: 
            "titre visuel"
            "contenu visuel";
    }

    .grid-pong {
        grid-template-columns: track-width(4) track-width(6);
        grid-template-areas: 
            "visuel titre"
            "visuel contenu";
    }

    .grid-ping-pong__titre {
        align-self: flex-end;
    }

    .grid-ping-pong__contenu {
        align-self: flex-start;
    }

    .grid-ping.v_no-titre {
        grid-template-areas: "contenu visuel";
        grid-template-rows: auto;
    }

    .grid-pong.v_no-titre {
        grid-template-areas: "visuel contenu";
        grid-template-rows: auto;
    }

}