<ul>
    <li>Réseaux sociaux
        <ul>
            <li>Facebook ?</li>
            <li>autre ?</li>
        </ul>
    </li>
    <li>
        <a href="mailto:petite.enfance@assoaipe.fr">petite.enfance@assoaipe.fr</a>
    </li>
    <li>
        Maison de la Petite Enfance, 90 Rue des Fleurs, 38430 Moirans <br>
        <a href="tel:0749836207">07 49 83 62 07</a>
        <ul>
            <li>lundi 09h00 à 17h00</li>
            <li>mardi 09h00 à 17h00</li>
            <li>mercredi Fermé</li>
            <li>jeudi 09h00 à 17h00</li>
            <li>vendredi 09h00 à 17h00</li>
            <li>samedi Fermé</li>
            <li>dimanche Fermé</li>
        </ul>
    </li>
</ul>