<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if accueil %}
        {% set titrePage %}{{ title }}{% endset %}
    {% else %}
        {% set titrePage %}{{title}} - {{ metadata.title }}{% endset %}
    {% endif %}
    <title>{{ titrePage | safe }}</title>

    {% if metaDescription %}
        <meta name="description" content="{{metaDescription}}">
    {% endif %}

    {# il faut faire du Inline critical CSS
    <link rel="preload" href="/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/style.css"></noscript>
    #}
    <link rel="stylesheet" href="/style.css" />

    {# CSS spécifique à un script JS et à une page #}
    {% for item in scriptsJs %}
        {% if item == 'leaflet' %}
            <link rel="stylesheet" href="/css/leaflet.css" />
        {% endif %}
    {% endfor %}

    <link rel="preload" href="/Dancing-Script.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/Hero-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
    
    <meta name="format-detection" content="telephone=no">

    {% if nofollow %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}

    <meta name="robots" content="noindex, nofollow">

    <link rel="icon" type="image/png" href="{{ metadata.faviconUrl }}favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ metadata.faviconUrl }}favicon.svg" />
    <link rel="shortcut icon" href="{{ metadata.faviconUrl }}favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ metadata.faviconUrl }}apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="AIPE" />
    <link rel="manifest" href="{{ metadata.faviconUrl }}site.webmanifest" />

</head>