<!DOCTYPE html>
<html lang="fr">

    {% include "layouts/head.njk" %}

    <body class="maintenance">

        <main id="contenu" role="main" tabindex="-1">
            {{ content | safe }}
        </main>
        
    </body>

</html>