<!DOCTYPE html>
<html lang="fr">

    {% include "layouts/head.njk" %}

    <body>

        <nav role="navigation" aria-label="Accès rapide">
            <a class="lien-evitement" href="#contenu">
                Aller au contenu
            </a>
        </nav>

        <main id="contenu" role="main" tabindex="-1">
            {{ content | safe }}
        </main>
        
    </body>

</html>