/*--------------------------------------------------------------------*/
/* Couleur de la charte AIPE                                          */
/*--------------------------------------------------------------------*/
$aipe-blanc:    #FFF6E9;
$aipe-jaune:    #F0BF60;
$aipe-corail:   #FE9191;
$aipe-maron:    #E09D94;
$aipe-bleu:     #9BBDD6;
$aipe-gris:     #4A4A4A;


/*--------------------------------------------------------------------*/
/* Déclinaisons de couleurs pour un contraste A11y optimal            */
/* Ratio ok pour etre sur les couleurs AIPE                           */
/*--------------------------------------------------------------------*/
//$fg-jaune:   #9B6600;
//$fg-corail:  #B45151;
//$fg-marron:  #AE5549;
$fg-gris:      #403F3F;
$fg-bleu:      #194362;


/*--------------------------------------------------------------------*/
/* Root                                                               */
/*--------------------------------------------------------------------*/
:root {
    --c-bg-default:   #{$aipe-blanc};

    --c-theme-pro:    #{$aipe-jaune};
    --c-theme-enfant: #{$aipe-corail};
    --c-theme-neutre: #{$aipe-maron};
    --c-theme-parent: #{$aipe-bleu};
    --c-theme-accent:  #005694;

    --c-fg-primary:     #{$fg-gris};
    --c-fg-secondary:   #{$fg-bleu};
}