:root {
    /*--------------------------------------------------------------------*/
    /* Couleur de la charte AIPE                                          */
    /*--------------------------------------------------------------------*/
    --c-aipe-blanc:   rgb(255 246 233); //#FFF6E9;
    --c-aipe-jaune:   rgb(240 191 96);  //#F0BF60;
    --c-aipe-corail:  rgb(254 145 145); //#FE9191;
    --c-aipe-maron:   rgb(224 157 148); //#E09D94;
    --c-aipe-bleu:    rgb(155 189 214); //#9BBDD6;
    --c-aipe-gris:    rgb(74 74 74);    //#4A4A4A;

    /*--------------------------------------------------------------------*/
    /* Déclinaisons de couleurs pour un contraste A11y optimal            */
    /*--------------------------------------------------------------------*/
    //$fg-jaune:   #9B6600;
    //$fg-corail:  #B45151;
    //$fg-marron:  #AE5549;
    --c-fg-gris:      rgb(54 63 63);    //#403F3F; // ok sur aipe
    --c-fg-bleu:      rgb(25 67  98);   //#194362; // ok sur aipe
    --c-fg-accent:    rgb(43 117 172);  //#2B75AC; // ok sur aipe-blanc


    /*--------------------------------------------------------------------*/
    /* Theme                                                              */
    /*--------------------------------------------------------------------*/
    --c-bg-default:   var(--c-aipe-blanc);

    --c-theme-pro:    var(--c-aipe-jaune);
    --c-theme-enfant: var(--c-aipe-corail);
    --c-theme-neutre: var(--c-aipe-maron);
    --c-theme-parent: var(--c-aipe-bleu);
    --c-theme-accent: var(--c-fg-accent);

    --c-fg-primary:   var(--c-fg-gris);
    --c-fg-secondary: var(--c-fg-bleu);
}